In [1]:
import glob
import random
import pandas as pd

In [2]:
DS = 'Alarabiya.net News Articles'
NUM_EXAMPLES = 7000

In [3]:
def prepare_articles_paths(ds_folder_path, num_examples):
    topics = glob.glob(ds_folder_path + '/*')
    num_topics = len(topics)
    articles_per_topic = round(num_examples / num_topics)
    dataset = []
    for topic in topics:
        articles = glob.glob(topic + '/*.txt')
        sample = random.sample(articles, articles_per_topic)
        dataset.extend(sample)

    return dataset[:num_examples]

articles_paths = prepare_articles_paths(DS, NUM_EXAMPLES)

In [4]:
print(len(articles_paths))
random.sample(articles_paths, 10)

7000

['Alarabiya.net News Articles\\Tourism\\Tourism155.txt',
 'Alarabiya.net News Articles\\Sport\\Sport1444.txt',
 'Alarabiya.net News Articles\\Economy\\Economy10027.txt',
 'Alarabiya.net News Articles\\Sport\\Sport119.txt',
 'Alarabiya.net News Articles\\Politics\\Politics10579.txt',
 'Alarabiya.net News Articles\\Economy\\Economy10325.txt',
 'Alarabiya.net News Articles\\Tourism\\Tourism1466.txt',
 'Alarabiya.net News Articles\\Art\\Art1848.txt',
 'Alarabiya.net News Articles\\Tourism\\Tourism1841.txt',
 'Alarabiya.net News Articles\\Economy\\Economy10270.txt']

In [5]:
def prepare_articles(articles_paths):
    articles = []
    for article_path in articles_paths:
        with open(article_path, 'r', encoding='utf-8') as file:
            article = file.read()
            articles.append(article)

    return articles

articles = prepare_articles(articles_paths)

In [6]:
data = {
    'url': 'UNK',
    'text': articles,
    'origin': 'ANAD'
}
my_dataset = pd.DataFrame(data)
my_dataset

      url                                               text origin
0     UNK  العالم يحتفي بالفنون المغربية في دولة الإمارات...   ANAD
1     UNK  ميلانو.. أوبرا تسلط الضوء على قضية التغيير الم...   ANAD
2     UNK  الليلة.. تعود مؤامرات "الحرملك" في #سرايا عابد...   ANAD
3     UNK  منى واصف: أفضل الأدوار التي أصفع فيها زملائي \...   ANAD
4     UNK  هكذا ظهر عمرو دياب بحفل اليونان.. ودينا الشربي...   ANAD
...   ...                                                ...    ...
6995  UNK  البراكين تخيف السياح من السفر لـ"بالي"  \n\nمس...   ANAD
6996  UNK  حجز 90% من رحلات روسيا الجوية للقاهرة \n\nعضو ...   ANAD
6997  UNK  الخطوط السعودية تبيع تذاكر إلكترونية بـ2.7 ملي...   ANAD
6998  UNK  إياتا: الطلب العالمي على النقل الجوي يرتفع 3.4...   ANAD
6999  UNK  تعيين رئيس تنفيذي جديد للخطوط التركية \n\nالخط...   ANAD

[7000 rows x 3 columns]

In [7]:
my_dataset.to_csv('human-written-text-dataset.csv', index_label='index')